---
# tasks for upgrade-all
- name: Wait until apt is not blocked
  become: yes
  shell: if [[ -e $(cat /var/lib/dpkg/lock) ]]; then while [[ -n $(cat /var/lib/dpkg/lock) ]]; do sleep 1; done; fi

- name: Upgrade packages
  apt:
    upgrade: dist
    force: yes
  when:
    ansible_distribution == 'Debian'
    or
    ansible_distribution == 'Ubuntu'
  register: apt_updates

- name: Update yum packages
  yum:
    name: '*'
    state: latest
  become: True
  when:
    ansible_distribution == 'RedHat'
    or
    ansible_distribution == 'CentOS'
